@use "base/vars";

@import "base/vars";

@import "vendor/reset";

@import "../components/ListCityChooser";
@import "../components/ForecastsHeader";
@import "../components/ForecastsList";
@import "../components/ForecastTile";
@import "../components/CitySearchBar";
@import "../components/ForecastChartistOverviewGraph";

/* ************************ */

$-font-size: 24px;
$-font-size-sm: 18px;

@font-face {
  font-family: PTSans;
  src: url("../assets/PTSans-Bold.ttf");
}

body {
  background-color: vars.$color-bg;
  color: vars.$color-primary;
  font-size: $-font-size;
  font-family: PTSans, sans-serif, serif;
}

.spinner {
  left: -9999vw;
  opacity: 0;
  animation: 1s spinner-away;
  background-color: unset;
}

@keyframes spinner-away {
  0% {
    left: 0;
    top: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    top: -200vw;
    opacity: 0;
  }
}

.content-wrapper {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 2em 0;
}

.header {
  border-bottom: .1em solid vars.$color-accent;
  padding-bottom: .5em;
  font-size: 100%;
}

.header__sun {
  font-size: 200%;
  border-radius: 50%;
  background-color: vars.$color-accent;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.header__logo {
  margin: 0 auto 1em auto;
  font-size: 250%;
  text-align: center;
}

.header__logo--accent {
  color: vars.$color-accent;
}

.header__form {
  position: relative;
}

@media (max-width: vars.$screen-small-w) {
  body {
    font-size: $-font-size-sm;
  }
}