@use "base/vars";

@import "base/vars";

@import "vendor/reset";



// mixins


@import "../components/ListCityChooser";
@import "../components/ForecastsHeader";
@import "../components/ForecastsList";
@import "../components/ForecastTile";

/* ************************ */


$-font-size: 24px;
$-font-size-sm: 18px;

@font-face {
  font-family: PTSans;
  src: url("../assets/PTSans-Bold.ttf");
}

body {
  background-color: vars.$color-bg;
  color: vars.$color-primary;
  font-size: $-font-size;
  font-family: PTSans, sans-serif, serif;
}

.content-wrapper {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 2em 0;
}

.header {
  border-bottom: .1em solid vars.$color-accent;
  padding-bottom: .5em;
  font-size: 100%;
}

.header__sun{
  font-size: 200%;
  border-radius: 50%;
  background-color: vars.$color-accent;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.header__logo{
  margin: 0 auto 1em auto;
  font-size: 250%;
  text-align: center;
}

.header__logo--accent{
    color: vars.$color-accent;
}

.header__form{
  position: relative;
}

.header__search-bar {
  //border-radius: 1em;
  box-sizing: border-box;
  padding: .5em 1em;
  color: vars.$color-primary;
  font-family: inherit;
  font-size: 75%;
  border: none;
  outline: none;
  background-color: vars.$color-bg-alt;
  transition: .5s;
}

.header__search-bar:focus::placeholder{
  color: vars.$color-primary-alt;
}

.header__search-bar::placeholder {
  color: vars.$color-primary;
}

@media (max-width: vars.$screen-small-w) {
  body{
    font-size: $-font-size-sm;
  }
}