@use "../styles/base/vars";

.forecasts__header {
  font-size: 150%;
  background-color: vars.$color-accent;
  padding: .5em;
  color: vars.$color-bg;
  animation: .5s tstsxx;
}

.forecasts__header-title {

}

.forecasts__header-desc {
  font-size: 50%;
}

@keyframes tstsxx {
  from {
    font-size: 1px;
  }
  to {
    font-size: 150%;
  }
}

@media (orientation: portrait){
  .forecasts__header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}