@use "../styles/base/vars";

$-screen-small-h: vars.$screen-small-h;
$-screen-small-w: vars.$screen-small-w;
$-screen-mid-w: vars.$screen-mid-w;
$-screen-lg-w: vars.$screen-lg-w;
$-color-bg: vars.$color-bg-alt;
$-color-accent: vars.$color-accent;

.forecast-tile {
  background-color: $-color-bg;
  font-size: 75%;
  font-weight: lighter;
  width: 22%;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 1em;
  margin: 1em auto;
  border-radius: 1em;
  position: relative;
  top: 0;
  opacity: 1;

  &__temp {
    font-size: 120%;
    color: $-color-accent;
  }

  &__desc {
    font-size: 80%;
  }

  &__wind {
    font-size: 80%;
    opacity: .6;
  }

  &:nth-child(2n) {
    animation: 2s forecast-tile-appear-anim-1;
  }

  &:nth-child(2n+1) {
    animation: 2s forecast-tile-appear-anim-2;
  }

  &__text {
    margin: .5em auto;
  }

  &__icon {
    -webkit-filter: brightness(60%) hue-rotate(360deg) saturate(277%) contrast(2);
    filter: brightness(60%) hue-rotate(360deg) saturate(277%) contrast(2);
  }
}

@keyframes forecast-tile-appear-anim-1 {
  from {
    opacity: 0;
    top: -2em;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes forecast-tile-appear-anim-2 {
  from {
    opacity: 0;
    top: 2em;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@media (max-width: $-screen-small-w) {
  .forecast-tile {
    width: 45%;
    font-size: 100%;
  }
}

@media (min-width: $-screen-lg-w) {
  .forecast-tile {
    /*width: 12%;
    font-size: 100%;*/
  }
}