@use "../styles/base/vars";

$-screen-small-w: vars.$screen-small-w;

.forecasts__header {
  font-size: 150%;
  background-color: vars.$color-accent;
  padding: .5em;
  color: vars.$color-bg;
  animation: .5s forecast-header-appear-anim;
  cursor: pointer;
}

.forecasts__header-title {
  position: relative;
  left: 0;
  animation: 1.5s forecast-header-title-appear-anim;
}

.forecasts__header-desc {
  font-size: 50%;
}

@keyframes forecast-header-title-appear-anim {
  from {
    left: -10em;
  }
  to {
    left: 0;
  }
}

@keyframes forecast-header-appear-anim {
  from {
    font-size: 1px;
  }
  to {
    font-size: 150%;
  }
}

@media (max-width: $-screen-small-w) {
  .forecasts__header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}