@use "../styles/base/vars";

$-screen-small-h: vars.$screen-small-h;
$-screen-small-w: vars.$screen-small-w;
$-screen-mid-w: vars.$screen-mid-w;
$-color-bg: vars.$color-bg-alt;

.forecast-tile {
  background-color: $-color-bg;
  font-size: 75%;
  font-weight: lighter;
  width: 22%;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 1em;
  margin: 1em auto;
  border-radius: 1em;
}

.forecast-title__text{
  margin: .5em auto;
}

.forecast-tile__icon {
  -webkit-filter: brightness(60%) hue-rotate(360deg) saturate(277%) contrast(2);
  filter: brightness(60%) hue-rotate(360deg) saturate(277%) contrast(2);
}

@media (max-width: $-screen-small-w){
  .forecast-tile{
    width: 40%;
  }
}