@use "../styles/base/vars";

$-screen-small-w: vars.$screen-small-w;
$-color-bg: vars.$color-bg;
$-color-border: vars.$color-bg-alt;
$-color-font: vars.$color-primary;
$-color-accent: vars.$color-accent;

.city-chooser {
  position: absolute;
  color: $-color-font;
  font-size: 75%;
  z-index: 2;
  transition: opacity .5s;
}

.city-chooser--hidden {
  visibility: hidden;
  opacity: 0;
}

.city-chooser--shown {
  visibility: visible;
  opacity: 1;
}

.city-chooser__item {
  padding: .5em;
  cursor: pointer;
  position: relative;
  background-color: $-color-bg;
  margin-bottom: .3em;
  transition: .5s;
  left: 0;
  font-size: 100%;
  border: 1px solid $-color-border;
}

.city-chooser__item__flag{
  width: 1em;
  height: auto;
  margin-left: .5em;
}

.city-chooser__item:hover {
  text-decoration: underline;
}

.city-chooser__item--browsed {
  color: $-color-accent;
  transform: translateX(1em);
  border: 1px solid $-color-accent;
}

@media (max-width: $-screen-small-w) {
  .city-chooser{
    margin: 1em auto;
    position: relative;
  }
  .city-chooser__item{
    margin: 0 6px;
    font-size: 180%;
  }
  .city-chooser__item--browsed{
    color: $-color-accent;
    transform: none;
    border: 1px solid $-color-accent;
  }
}