$color-accent: #f32a00;
$color-bg: #212529;
$color-bg-alt: #2f3337;
$color-primary: #ddd;
$color-primary-alt: #767676;

// alternative color schemes

/*$color-bg: #fff;
$color-bg-alt: #e6efff;
$color-primary: #030;
$color-primary-alt: #444;
$color-accent: #0095ff;*/

/*$color-bg: #fff;
$color-bg-alt: #ffe9dd;
$color-primary: #030;
$color-primary-alt: #444;
$color-accent: #f32a00;*/

$screen-small-h: 420px;
$screen-small-w: 576px;
$screen-mid-w: 992px;
$screen-lg-w: 1200px;
